<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="medicines" routerLinkActive="active" class="nav-link">Medicine List</a>
        </li>
        <li class="nav-item">
            <a routerLink="create-medicine" routerLinkActive="active" class="nav-link">Add Medicine</a>
        </li>
    </ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
<footer class="fixed-bottom footer-copyright text-center py-3 footer footer-expand-sm bg-secondary ">
    <div class="containerRights">
        <span>All Rights Reserved 2021 @SwarupMishra</span>
    </div>
</footer>